---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>我的about頁面</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illo ad laboriosam eveniet, eligendi ut, consequuntur culpa earum odio rem dignissimos ipsum deserunt eos asperiores rerum libero! Illo non, tenetur corporis culpa dignissimos ullam numquam corrupti tempore molestias in fuga error explicabo, nobis provident sunt aliquid quam, perspiciatis libero earum.</p>
    <a href="/">回到首頁</a>
	</body>
</html>
