---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>我的blog頁面</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime dicta neque voluptatum voluptatem repellat consectetur ab reprehenderit eveniet beatae natus, laborum id eligendi repudiandae quaerat dolores sit voluptates fugit, quibusdam aliquid quis alias fugiat? Molestias veniam quo voluptatum expedita quam totam dolor eveniet molestiae repellendus maiores tenetur, aperiam alias doloribus! Dolorem excepturi, dignissimos qui magnam asperiores provident soluta dolorum voluptatem!</p>
    <a href="/">回到首頁</a>
	</body>
</html>
