---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>我的Astro練習</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quibusdam! Ipsa hic fuga dolor vero est provident corporis, praesentium quo inventore, ea officia quia? Laudantium qui ratione quos, saepe quia quisquam. Praesentium soluta officia dignissimos corporis. Dolorem necessitatibus corrupti possimus molestias quia nostrum asperiores aperiam, officiis libero, atque, eos reiciendis id doloremque cum sed eius! Quasi, eveniet, ratione nesciunt mollitia nemo voluptas doloremque illum odit alias fugiat porro assumenda earum suscipit nisi pariatur praesentium laboriosam et, consequuntur nostrum fugit. Tempore in molestias neque! Iusto reiciendis recusandae nisi laborum cumque enim, hic, amet quis iure blanditiis, fuga fugiat qui a nemo?</p>
		<a href="/about/">關於</a>
		<a href="blog">部落格</a>
	</body>
</html>
